.App {
  background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt9327311e599ab27a/60de4dca96e07e0f6e5d6685/9c4ca1396e7f62b9ca218a5dc520562e0dd44547.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'papyrus';
  color: #21B1D8;
}

